@import url('https://fonts.googleapis.com/css?family=Cinzel|Federant|Roboto|Cinzel+Decorative'); /* FONT */

h1 {
  color: #32633C;
  font-family: 'Cinzel', serif;

}

h1 > a { /* Hlavní nadpis */
  font-family: 'Cinzel Decorative', cursive;
  color: #ce0000;
  text-decoration: none;
  font-size: 125%;
}

h2 {
 font-family: 'Cinzel', serif;

}

h2 > a { /* Nadpisi s odkazem */
 color: Black;
}

h3 {
  font-size: 15px;
  font-weight: bold;
}

nav > ul > li > a { /* MENU */
 font-family: 'Federant', cursive;
 text-decoration: none;
 font-size: 25px;
 color: #A84F00;

}

a {
  color: #052f72;
}

img {
  max-width: 100%;
  height: auto;
}

footer > p > a { /* Copyright */
  color:black;
}

header {
  padding: 30px 0 0;
  border-bottom: solid;
  background: url("https://static.thenounproject.com/png/763027-200.png"); /* */
  background-position: 95% 50%; 
  background-size: 100px 100px;
}

body {
  background: url("https://wallpapercave.com/wp/wp2227193.jpg");
  background-repeat: repeat;
  background-size: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
}

.wrapper { 
  margin: 30px auto;
  max-width: 800px;
  padding: 20px;
  background-color: hsla(90, 255%, 255%, 0.8);
}

footer {
  border-top: solid;
  clear: both;
}

.page {
  float: right;
  width: 70%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
}

.page > ol { 
  padding-left: 20px;
}

aside {
  float: left;
  width: 25%;
  margin-top: 1em;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-bottom: 1em;
}

nav .active {
  font-weight: bold;
}
